@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
	margin: 0px;
	font-family: "SF Pro Display", sans-serif;
}
body {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
	position: static;
}
body::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

@keyframes FillContainer {
	0% {
		width: 0%;
	}
	50% {
		width: 50%;
	}
	100% {
		width: 100%;
	}
}
@keyframes UnFillContainer {
	0% {
		width: 100%;
	}
	50% {
		width: 50%;
	}
	100% {
		width: 0%;
	}
}
@keyframes FadeIn {
	0% {
		opacity: 0;
		margin-left: -1000px;
	}
	25% {
		opacity: 0.5;
	}
	50% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}
@keyframes FadeOut {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0.75;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		position: absolute;
		margin-left: -1000px;
	}
}

.button {
	width: auto;
	height: 40px;
	font-size: 15px;
	color: #ffffff;
	border-radius: 16px;
	border: 1px solid #000000;
	background: linear-gradient(99.08deg, #1fbe42 -2.87%, #ff00c7 114.28%);
}
.main {
	background-image: url("./assets/1.avif");
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
@media (max-width: 800px) {
	.top-navbar {
		.mini-display {
			height: 44px;
			width: 100%;
			display: flex !important;
			justify-content: space-around;
			align-items: center;
			.logo-navbar {
				height: 30px;
				padding: 8px;
			}
			.burguer-button {
				height: 40px;
				width: 40px;
				padding: 3px 0 0 0;
				background-color: transparent;
				border: none;
				color: #ffffff;
				font-size: 30px;
			}
		}
		.false {
			.navbar {
				ul {
					height: 100% !important;
					justify-content: center !important;
					flex-direction: column !important;
					li {
						font-size: 35px !important;
						font-weight: 700;
						padding: 30px !important;
						animation: FadeOut 0.3s linear;
					}
					.delay-1 {
						animation-fill-mode: both;
						animation-delay: 0.6s;
					}
					.delay-2 {
						animation-fill-mode: both;
						animation-delay: 0.5s;
					}
					.delay-3 {
						animation-fill-mode: both;
						animation-delay: 0.4s;
					}
					.delay-4 {
						animation-fill-mode: both;
						animation-delay: 0.3s;
					}
					.delay-5 {
						animation-fill-mode: both;
						animation-delay: 0.2s;
					}
					.delay-6 {
						animation-fill-mode: both;
						animation-delay: 0.1s;
					}
				}
			}
		}
		.true {
			.navbar {
				height: 100% !important;
			}
			ul {
				height: 100% !important;
				justify-content: center !important;
				flex-direction: column !important;
				li {
					font-size: 35px !important;
					font-weight: 700;
					padding: 30px !important;
				}
			}
		}
	}
}

@media (min-width: 800px) {
	.top-navbar {
		.mini-display {
			display: none;
		}
		.false {
			.navbar {
				ul {
					list-style: none;
					justify-content: space-evenly;
					align-items: center;
					display: inline-flex;
					flex-wrap: wrap;
					padding: 0;
					li {
						padding: 10px;
						a {
							font-size: 18px;
						}
					}
				}
			}
		}
		.true {
			.navbar {
				height: 100% !important;
			}
			ul {
				height: 100% !important;
				justify-content: center !important;
				flex-direction: column !important;
				li {
					padding: 10px 30px;
					font-size: 18px;
				}
			}
			.logo-navbar {
				height: 30px;
			}
		}
	}
}
.top-navbar {
	.navbar {
		transition: height 1s;
		height: 44px;
		background: rgba(75, 75, 75, 0.3);
		backdrop-filter: blur(17.5px);
		width: 100%;
		position: fixed;
		z-index: 9999;
		ul {
			width: 100%;
			list-style: none;
			.delay-1 {
				animation-fill-mode: both;
				animation-delay: 0.1s;
			}
			.delay-2 {
				animation-fill-mode: both;
				animation-delay: 0.2s;
			}
			.delay-3 {
				animation-fill-mode: both;
				animation-delay: 0.3s;
			}
			.delay-4 {
				animation-fill-mode: both;
				animation-delay: 0.4s;
			}
			.delay-5 {
				animation-fill-mode: both;
				animation-delay: 0.5s;
			}
			.delay-6 {
				animation-fill-mode: both;
				animation-delay: 0.6s;
			}
			li {
				animation: FadeIn 0.3s linear;
				a {
					text-decoration: none;
					color: #ffffff;
				}
			}
		}
		ul li:hover {
			transition: all 0.2s;
			scale: 1.15;
		}
	}
}

@media (max-width: 700px) {
	.landing-layer {
		flex-direction: column !important;
	}
	.landing-title {
		font-size: 50px !important;
	}
}
.landing-layer {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	height: 80vh;
	width: 80vw;
	padding: 50px;
	background: rgba(255, 255, 255, 0.3);
	flex-wrap: wrap;
	backdrop-filter: blur(17.5px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
	z-index: 4;

	border: 0.2rem solid #fff;
	border-radius: 2rem;
	padding: 0.4em;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bf13fe, 0 0 0.8rem #e625ff, 0 0 2.8rem #fb00ff, inset 0 0 1.3rem #aa00ff;
	.landing-title {
		font-size: 100px;
		margin: 20px;
		color: #ffffff;
	}
	.logo {
		height: 100px;
		margin: 20px;
	}
}
.home-body {
	min-height: 90vh;
	padding-bottom: 90px;
	z-index: 5;
	width: 100%;
	position: relative;
	background-color: #2d3949;
	.minicards {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 40px;
		.mini-card {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 20px;
			transition: all 0.3s;
			background-color: #59595938;
			height: 100px;
			width: 300px;
			border-radius: 11px;
			padding: 10px;
			.icon {
				color: #ffffff;
				width: 50px;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: 10px;
			}
			.text {
				padding: 10px;
				color: #ffffff;
				margin-left: 10px;
				.description {
					margin-top: 8px;
					color: #9f9f9f;
				}
			}
		}
		.mini-card:hover {
			scale: 1.05;
			background-color: #7e7e7e38;
		}
	}
	.index-product-cards {
		margin-top: 90px;
		margin-bottom: 90px;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: row;
		padding-right: 20px;
		.card {
			background-color: #c1d0e4;
			display: flex;
			margin: 60px 20px 20px 20px;
			justify-content: center;
			align-items: flex-end;
			flex-wrap: wrap;
			align-content: space-between;

			height: 350px;
			min-width: 250px;
			max-width: 250px;
			border-radius: 30px;
			.back {
				background-color: transparent;
				height: 50%;
				display: flex;
				justify-content: center;
				align-items: flex-start;

				.image {
					transform: translate(0%, -30%);
					width: 90%;
				}
			}
			.text {
				transition: all 0.3s;
				width: 100%;
				height: 30px;
				background-color: #ffffff;
				border-radius: 30px;
				padding: 20px;
				overflow: hidden;
				.stars {
					.star {
						font-size: 15px;
						color: #ffe600;
						padding: 3px;
					}
				}
			}
		}
		.card:hover {
			.text {
				height: 120px !important;
			}
		}
		.texto-productos {
			color: #ffffff;
			width: 250px;
			margin: 20px;
			padding: 20px 0;
		}
	}
	.section-title {
		width: 100%;
		color: #ffffff;
		margin-top: 50px;
		font-size: 35px;
		text-align: center;
	}
	.image-grid {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		.left {
			width: 40%;
			margin: 10px;
			img {
				width: 100%;
			}
		}
		.right {
			width: 40%;
			padding: 10px;
			img {
				width: 95%;
			}
		}
	}
	.plants-care {
		margin-top: 90px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.left {
			width: 40%;
			.title {
				color: #ffffff;
				font-size: 35px;
			}
			.description {
				color: #9f9f9f;
				font-size: 20px;
			}
			ul {
				list-style: none;
				li {
					font-size: 25px;
					color: #ffffff;
					padding: 8px;
					svg {
						margin-right: 10px;
					}
				}
			}
		}
		.right {
			width: 40%;
			img {
				width: 100%;
			}
		}
	}
}

.page-title {
	font-size: 40px;
	width: 100%;
	text-align: center;
}
.page-title.over {
	position: relative;
	z-index: 90;
}
.auth-container {
	color: #ffffff;
	padding-top: 50px;
	background-color: #2d3949;
	min-height: 100vh;
	.blur-up {
		img {
			filter: saturate(2);
			z-index: 1;
			top: 0;
			position: absolute;
		}
	}
	.blur-right {
		img {
			filter: saturate(2);

			z-index: 1;
			right: 0;
			position: absolute;
		}
	}
	.form-container {
		overflow: hidden;
		width: 100%;
		z-index: 90;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		.formulario {
			width: 60%;
			min-width: 600px;
			min-height: 80vh;
			padding: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			flex-wrap: nowrap;
			.form {
				display: flex;
				justify-content: flex-start;
				flex-direction: column;
				flex-wrap: nowrap;
				label {
					margin-left: 20px;
					font-size: 20px;
				}
				.label,
				.terms {
					font-size: 15px;
					text-decoration: none;
					color: #898ca9;
				}
				input.text {
					width: 500px;
					margin: 20px;
					height: 50px;
					background: #16161e;
					border-radius: 10px;
					border-style: solid;
				}
				.checkbox-group {
					text-align: center;
					color: #898ca9;
					width: 500px;
					display: flex;
					justify-content: space-between;
					margin-left: 20px;
					flex-wrap: nowrap;
					input {
						width: 20px;
						background: #16161e;
						border-radius: 10px;
						border-style: solid;
					}
				}
			}
			.button {
				margin: 30px 20px 20px 20px;
				width: 150px;
			}
			.form-title {
				padding: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				img {
					margin: 15px;
				}
			}
		}
		.imagen-formulario {
			width: 30%;

			font-size: 30px;
			min-height: 90vh;
			background-color: transparent;
			flex-wrap: nowrap;
			flex-direction: column;
			display: flex;
			justify-content: space-around;
			align-items: center;
			img {
				min-width: 500px;
				max-width: 100% !important;
			}
		}
	}
}

.app-container {
	color: #ffffff;
	padding-top: 50px;
	background-color: #2d3949;
	min-height: 100vh;
	.blur-up {
		img {
			filter: saturate(2);
			z-index: 1;
			top: 0;
			position: absolute;
		}
	}
	.blur-right {
		img {
			filter: saturate(2);
			z-index: 1;
			right: 0;
			position: absolute;
		}
	}

	.leftbar {
		width: 250px;
		margin: 40px;
		height: 85vh;
		z-index: 2;
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		flex-wrap: nowrap;
		.index-link {
			.logo {
				height: 40px;
			}
			.business-name {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: row;
				font-size: 30px;
				font-weight: 900;
			}
			text-decoration: none;
			color: #ffffff;
		}
		ul {
			padding: 0;
			margin-top: 50px;
			list-style: none;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			li {
				padding: 20px 0 20px 20px;
				a {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					flex-direction: row;
					.icon {
						font-size: 25px;

						margin-right: 10px;
					}
					text-decoration: none;
					color: #ffffff;
					font-size: 20px;
					font-weight: 500;
				}
				transition: all 0.3s;
			}
			li.active {
				width: 200px;
				border-radius: 16px;
				background: linear-gradient(100deg, #17c83d -2.87%, #ff00c7 114.28%);
			}
			li:hover {
				scale: 1.15;
			}
		}

		.log-out-button {
			width: 100%;
			background-color: transparent;
			font-size: 18px;
			border: none;
			.text {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: row;
				color: #dddddd;
				padding: 20px;
				z-index: 3;
				position: relative;
				.icon {
					font-size: 25px;
					margin-right: 10px;
				}
			}
			.background-button {
				width: 100%;
				position: absolute;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: row;
				z-index: 0;
				.color {
					animation: UnFillContainer 0.2s forwards linear;

					border-radius: 16px;
					width: 0%;
					height: 61.5px;
					background: linear-gradient(100deg, #17c83d -2.87%, #ff00c7 114.28%);
				}
			}
		}
		.log-out-button:hover {
			.background-button .color {
				animation: FillContainer 0.3s forwards linear;
			}
		}
	}
}
